name: CI

on:
   workflow_dispatch:

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
          cache-dependency-path: requirements.txt

      - name: Install Linting Tools
        run: pip install ruff mypy types-setuptools

      - name: Run Ruff
        continue-on-error: true  
        run: ruff check . --quiet

      - name: Run MyPy
        continue-on-error: true  
        run: mypy . --ignore-missing-imports

  test:
    name: Test Ubuntu / Py ${{ matrix.python-version }}
    runs-on: [ubuntu-latest, windows-latest, macos-latest]
    
    strategy:
      fail-fast: true 
      matrix:
        python-version: ["3.12"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: requirements.txt

      - name: Install FFmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov
          pip install -r requirements.txt

      - name: Run Tests
        env:
          GEMINI_API_KEY: "${{ secrets.GEMINI_API_KEY }}"
          BYTEZ_API_KEY: "${{ secrets.BYTEZ_API_KEY }}"
          PYTHONPATH: . 
        run: |
          # Using 'python -m pytest' ensures 'src' is found
          python -m pytest tests/unit_test --cov=src --cov-report=xml --maxfail=1 --disable-warnings
      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-py${{ matrix.python-version }}
          path: coverage.xml